/* .plasma-container {
  position: relative;
  width: 100%;
  height: 100%;
  
} */

.plasma-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -1;
}